<!DOCTYPE html>
<html >
<body>
    <div class="main-container">
        <table width = "100%">
            <td width = "75%">
                <div *ngFor="let events of eventDetails" class="form-container">
                    <table width="100%">
                        <tr>
                            <td >
                                <h1 type="text" hint="">{{events.title}}</h1> 
                            </td>
                            <td >
                                <img src="assets/login-pic.jpg">
                            </td>
                        </tr>
                    </table>
                    <table width="100%" style="top:20px">
                        <tr>
                            <td width = "25%">
                                <h2 >Date:</h2>
                            </td>
                            <td width = "25%">
                                <h3 type="text" hint="">{{events.date}}</h3> 

                            </td>
                            <td width = "25%">
                                <h2 >Location:</h2>
                            </td>
                            <td width = "25%">
                                <h3 type="text" hint="">{{events.location}}</h3> 

                            </td>
                        </tr>
                        <tr>
                            <td width = "25%">
                                <h2 >Start Time:</h2>
                            </td>
                            <td width = "25%">
                                <h3  type="text" hint="">{{events.startTime}}</h3> 
                            </td>
                            <td width = "25%">
                                <h2 >End Time:</h2>
                            </td>
                            <td width = "25%">
                                <h3 type="text" hint="">{{events.endTime}}</h3> 
                            </td>
                        </tr>
                        <tr>


                            <td width = "25%" >
                                <h2 >Description:</h2>
                            </td>
                            <td width = "25%">
                                <h3  type="text" hint="">{{events.description}}</h3> 

                            </td>
                        </tr>
                        <tr>
                            <td width = "25%">
                                <h2 >Number of Atendees:</h2>
                            </td>
                            <td width = "25%">
                                <h3  type="text" hint="">{{events.numberOfAtendees}}</h3> 
                            </td>


                        </tr>
                    </table>
                    <table width = "100%">
                        <tr>
                            <td>
                                <h1>Attend?</h1>
                            </td>
                        </tr>
                    </table>
                    <table  width = "100%">

                        <tr>
                            <td  width = "50%">
                                <button style="margin-top: 0;" (click)="attend()">YES</button>
                            </td> 
                            <td  width = "50%">
                                <button style="margin-top: 100;" (click)="notAttend()">NO</button>
                            </td> 
                        </tr>

                    </table>
                </div>
            </td>
         </table>
    </div>
</body>
</html>