:host {
  text-align: center;
  padding: 24px;
}

mat-nav-list {
  max-width: 600px;
  background-color: #212121;
  padding: 24px;
  margin: 24px auto;
}

mat-list-item {
  transition: transform 300ms ease;
  &:hover {
    transform: translateY(-3px);
  }
  transition: transform 300ms ease;
}
