.main-container {
    height: 100%;
    width: 100%;
    background:#faf0e3;
    /* background: url(../../../../assets/backgrounds/pic12.jpg);
    background-position: center center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
.form-container {
    width: 800px;
    height: 500px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    padding: 10px;
    border-radius: 20px;
    border-radius: 50px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: solid #eecda2 2px;
    font-size: 20px;
    padding: 5px;
    margin-top: -10px;
    outline: none;
}

.description {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: solid #eecda2 2px;
    font-size: 20px;
    padding: 5px;
    margin-top: -10px;
    outline: none;
}

input:-webkit-autofill-selected {
    appearance: menulist-button;
    background-color:  #eecda2 !important;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}

button {
    font-family: "kozuka-gothic-pro", sans-serif;
    height: 40px;
    width: 180px;
    background: #ffffff;
    border-radius: 8px;
    border: solid 2px #eecda2;
    color: #eecda2;
    font-size: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
}

button:hover {
    background:#eecda2;
    color: #ffffff;
    cursor: pointer;

}


h1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 100;
    margin-top: 10px;
    color: #4a4a4a;
}

h2 {
    font-weight: 100;
    /* margin-top: 30px; */
    color: #4a4a4a;
}
img{
    width: 400px ;
    height: 150px;
    margin-left: 50px;
    float:right;
    border-top-right-radius: 40px; 
        /* border-top-left-radius: 40px; */
}

.imageUpload{
    width: 400px ;
    height: 150px;
    margin-left: 50px;
    float:right;
    border-top-right-radius: 40px; 
        /* border-top-left-radius: 40px; */
}

.date{
    outline: none;
    border-radius: 0;
    border: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    /* background-color: white; */
}