
html,
body {
    font-family: "kozuka-gothic-pro", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    color: #4a4a4a;
    overflow-y: scroll; overflow-x:hidden; 
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
