<!DOCTYPE html>
<html >
<body>
    <div class="main-container">
        <table width = "100%">
            <td width = "25%">
                <button (click)="createEvent()">Create Event</button>
                <button (click)="modifyAccount()">Modify Account</button>
            </td>

            <td width = "75%">
                <div *ngFor="let events of numberOfEvents" class="form-container">
                    <table width="100%">
                        <tr>
                            <td >
                                <input *ngIf="this.modifyClicked" type="text" id="dateInput" #dateInput placeholder="{{events.title}}" />
                                <h1 *ngIf="!this.modifyClicked" type="text" hint="">{{events.title}}</h1>                             </td>
                            <td >
                                <img src="assets/login-pic.jpg">
                            </td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width = "25%">
                                <h2 >Date:</h2>
                            </td>
                            <td width = "25%">
                                <input *ngIf="this.modifyClicked" type="text" id="dateInput" #dateInput placeholder="{{events.date}}" />
                                <h3 *ngIf="!this.modifyClicked" type="text" hint="">{{events.date}}</h3> 

                            </td>
                            <td width = "25%">
                                <button *ngIf="!this.modifyClicked" style="margin-top: 0;" (click)="modifyEvent()">Modify Event</button>
                                <button *ngIf="this.modifyClicked" style="margin-top: 0;" (click)="doneModifying()">Done</button>

                            </td>
                        </tr>
                        <tr>
                            <td width = "25%">
                                <h2 >Location:</h2>
                            </td>
                            <td width = "25%">
                                <input *ngIf="this.modifyClicked" type="text" id="locationInput" #locationInput placeholder="{{events.location}}"/>
                                <h3 *ngIf="!this.modifyClicked" type="text" hint="">{{events.location}}</h3> 

                            </td>
                            <td width = "25%">
                                <button *ngIf="!this.modifyClicked" style="margin-top: 100;" (click)="createEvent()">Invite People</button>
                            </td>
                        </tr>
                        <tr>
                            <td width = "25%">
                                <h2 >Description:</h2>
                            </td>
                            <td width = "25%">
                                <input *ngIf="this.modifyClicked" class="description" id="descriptionInput" #descriptionInput type="text" placeholder="{{events.description}}"/>
                                <h3 *ngIf="!this.modifyClicked" type="text" hint="">{{events.description}}</h3> 

                            </td>
                            <td width = "25%">
                                <button *ngIf="!this.modifyClicked" style="margin-top: 0;" (click)="createEvent()">View Attendees</button>
                            </td>
                        </tr>
                        <tr>
                            <td width = "25%">
                                <h2 >Number of Atendees:</h2>
                            </td>
                            <td width = "25%">
                                <h3 *ngIf="!this.modifyClicked" type="text" hint="">{{events.numberOfAtendees}}</h3> 
                            </td>

                        </tr>
                    </table>
        </div>
            </td>

    </table>

    </div>

</body>
</html>