<!DOCTYPE html>
<html>
<body>
    <div class="main-container">

        <div class="form-container">
            <!-- <img src="assets/login-pic.jpg" width="485px" height="150px"> -->
            <h1>REGISTER</h1>
            <h2 class="name">Email</h2>
            <input type="text" hint="" id="emailinput" #emailinput />
            <h2 class="password">Password</h2>
            <input type="password" hint="" id="passwordinput" #passinput />

            <h2 class="password">Repeat Password</h2>
            <input type="password" hint="" id="repeatinput" #repeatinput />

            <button (click)="register()">Register</button>
            <h3 *ngIf="this.message">{{this.message}}</h3>



        </div>
    </div>

</body>
</html>